* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

html {
    height: 100%;
}

#main-content {
    display: grid;
    max-width: 1600px;
    min-height: 100px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 100px;

    > * {
        user-select: none;
    }

    &.is-dragging-active {
        cursor: grabbing;
    }
}

.grid-item {
    margin: 5px;
    cursor: grab;
    border: 1px solid #000;
    background-color: #eee;
}

.grid-item--placeholder {
    margin: 5px;
    border: 2px dashed #2ef;
}

.grid-item.is-dragging {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 4px 4px 3px 2px #ccc;
}

.grid-row-span--1 {
    grid-row-end: span 1;
}
.grid-row-span--2 {
    grid-row-end: span 2;
}
.grid-row-span--3 {
    grid-row-end: span 3;
}
.grid-row-span--4 {
    grid-row-end: span 4;
}
.grid-row-span--5 {
    grid-row-end: span 5;
}
.grid-row-span--6 {
    grid-row-end: span 6;
}

.grid-column-span--1 {
    grid-column-end: span 1;
}
.grid-column-span--2 {
    grid-column-end: span 2;
}
.grid-column-span--3 {
    grid-column-end: span 3;
}
